@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin position($position, $top, $left, $bottom, $right, $width, $height) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  width: $width;
  height: $height;
}

@mixin button($bgcolor, $textcolor, $width, $height, $fontSize, $bdr) {
  background-color: $bgcolor;
  color: $textcolor;
  text-decoration: none;
  width: $width;
  height: $height;
  display: inline-block;
  font-size: $fontSize;
  font-weight: 500;
  border-radius: $bdr;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

@mixin animation($name, $duration, $timeFunction, $translate1, $translate2) {
  animation: $name $duration $timeFunction;
  @keyframes #{$name} {
    0% {
      opacity: 0;
      transform: translateY($translate1);
    }
    100% {
      opacity: 1;
      transform: translateY($translate2);
    }
  }
}

@mixin responsive($breakpoint) {
  @if $breakpoint == lg {
    @media (max-width: 992px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  }

  @if $breakpoint == xs {
    @media (max-width: 320px) {
      @content;
    }
  }
}
