$white: #fff;
$black: #000;
$main1: #fa5805;
$main2: #f9fafb;
$text-color1: #333;
$text-color2: #222;
$text-color3: #fafafc;
$text-color4: #676767;
$text-color5: #717c89;

$boxShadow: 0 0 10px $main1, 0 0 20px $main1, 0 0 40px $main1;

$gutter: 20px;
$col: 12;
