.progress {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $white;
  @include responsive(md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include responsive(sm) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include responsive(xs) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__heading {
    &__title {
      text-align: center;

      &__h2 {
        color: $text-color2;
      }

      &__p {
        padding-top: 30px;
        font-weight: 300;
        color: $text-color2;
        @include responsive(md) {
          padding-top: 15px;
        }
      }
    }
  }

  &__contents {
    margin-top: 40px;
    @include responsive(md) {
      margin-top: 20px;
    }

    &__item {
      height: 370px;
      background-color: $main2;
      @include flex(center, center);
      @include responsive(sm) {
        height: 200px;
      }

      &__child {
        &__icon {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 148px;
          height: 148px;
          @include responsive(md) {
            width: 100px;
            height: 100px;
          }

          @include responsive(sm) {
            width: 80px;
            height: 80px;
          }

          @include responsive(xs) {
            width: 60px;
            height: 60px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__title {
          text-align: center;
          padding-top: 30px;
          @include responsive(md) {
            padding-top: 15px;
          }

          &__h3 {
            font-size: 24px;
            color: $main1;
            @include responsive(md) {
              font-size: 18px;
            }
          }

          &__p {
            padding-top: 20px;
            max-width: 190px;
            font-size: 16px;
            font-weight: 300;
            color: $text-color4;
            @include responsive(md) {
              padding-top: 10px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
